{% extends 'base.html' %}

{% load static %}

{% block title %}
    Usuarios | Cambiar password
{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="container">
            <br>
            <p><i>Llena los siguientes campos</i></p>
            <br>

            <div class="form-group">
                <label class="col-md-2">Username</label>
                {{ form.username }}{{ form.username.errors }}
            </div>

            <div class="form-group">
                <label class="col-md-2">Contraseña actual</label>
                {{ form.old_password }} {{ form.old_password.errors }}
            </div>

            <div class="form-group">
                <label class="col-md-2">Contraseña nueva</label>
                {{ form.new_password }} {{ form.new_password.errors }}
            </div>

            <div class="form-group">
                <label class="col-md-2">Confirma la nueva contraseña</label>
                {{ form.conf_password }} {{ form.conf_password.errors }}
            </div>

            <div class="form-group">
                <label class="col-md-2"></label>
                <input class="btn btn-outline-primary btn-lg" type="submit" value="Cambiar Password"/>
            </div>


        </div>

    </form>
{% endblock content %}