{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
    Linkage | Usuarios
{% endblock title %}

{% block content %}

    <h1>Auth Page!</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'usuarios_profile' user.username %}">Ver mi perfil</a>
    {% else %}
        <a href="{% url 'usuarios_register' %}">Registrarme</a>
        <a href="{% url 'usuarios_login' %}">Ingresar</a>
    {% endif %}

{% endblock content %}

{% block scripts %}

{% endblock scripts %}